@font-face {
  font-family: "Montserrat";
  src: local("Montserrat"),
  url("@/assets/fonts/Montserrat-VariableFont_wght.ttf") format("truetype"),
  url("@/assets/fonts/Montserrat-Italic-VariableFont_wght.ttf") format("truetype");
}

@font-face {
  font-family: "Strong";
  src: local("Strong"),
  url("@/assets/fonts/Strong-Regular.ttf") format("truetype")
}

html {
  background: #41213f;
  font-family: 'Montserrat', serif;
  font-style: normal;
  font-weight: 400;
  overflow-x: hidden;
  font-size: 30px;
  line-height: 1.23em;
  color: #FFFFFF;
}

body {
  margin: 0;
}

.page__title {
  font-size: 2rem;
  line-height: 73px;
  color: #FFFFFF;
  font-style: normal;
  font-weight: 400;
  margin: 15px 0;
}

p {
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

h2 {
  font-weight: inherit;
}

.form-calculator {
  margin-top: 30px;
  font-size: 40px;

  input {
    background: #FFFFFF;
    border-radius: 10px;
    font-size: inherit;
    color: black;
    width: 100%;
    box-sizing: border-box;
    padding-left: 20px;
  }
}
