@font-face {
  font-family: "Montserrat";
  src: local("Montserrat"),
  url("@/assets/fonts/Montserrat-VariableFont_wght.ttf") format("truetype"),
  url("@/assets/fonts/Montserrat-Italic-VariableFont_wght.ttf") format("truetype");
}

@font-face {
  font-family: "Strong";
  src: local("Strong"),
  url("@/assets/fonts/Strong-Regular.ttf") format("truetype")
}

@media screen and (max-width: 580px) {
  html, body {
    min-width: 580px
  }
}

html {
  background: #41213f;
  font-family: 'Montserrat', serif;
  font-style: normal;
  font-weight: 400;
  overflow-x: hidden;
  font-size: 30px;
  line-height: 1.23em;
  color: #FFFFFF;
}

body {
  margin: 0;
}

.page__title {
  font-size: 2rem;
  line-height: 73px;
  color: #FFFFFF;
  font-style: normal;
  font-weight: 400;
  margin: 15px 0;
}

p {
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

h2 {
  font-weight: inherit;
}

.form-calculator {
  margin-top: 30px;
  font-size: 40px;

  select {
    padding-left: 0 !important;

    option {
      padding: 0 20px;
    }
  }

  input, select {
    background: #FFFFFF;
    border-radius: 10px;
    font-size: inherit;
    color: black;
    width: 100%;
    box-sizing: border-box;
    padding-left: 20px;

    &.form-check-input {
      margin-right: 10px;
      width: 30px;
      height: 30px;
    }

    &.input_is-invalid {
      background: #ff8080;
    }

    &[type="radio"] {
      width: 20px;
      height: 20px;
      margin: 0 10px 0 0;
    }
  }
}

.collapse {
  height: 0;
  overflow: hidden;

  &.show {
    height: auto;
  }
}

.page-error {
  h1 {
    &.error_code {
      font-size: 170px;
      margin-top: 0.4em;
      height: 1em;
    }
  }

  p {
    font-size: 36px;
  }
}

.page-calculator {
  p, ul li {
    font-family: 'Montserrat', serif;
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
    color: #FFFFFF;
  }
}

.row_quoted {
  margin-top: 20px;

  p, q {
    font-size: 30px;
    text-align: center;
  }
}

.katex-display>.katex {
  white-space: inherit!important;
}

.no-latex {
  font-size: 1.21em;
  font-style: italic;
  white-space: nowrap;
  text-rendering: auto;
  font-family: KaTeX_Main, Times New Roman, serif;
  line-height: 1.2;
  text-indent: 0;
}

.table_rents {
  width: 100%;
  border-collapse: collapse;
  border: none;

  @media (max-width: 992px) {
    font-size: 0.8em;
  }

  @media (max-width: 768px) {
    font-size: 0.6em;

    td, th {
      padding: 5px;
    }
  }


  th, td {
    border: 1px solid white;
    padding: 10px;

    &:has(button.btn-remove) {
      text-align: center;
      border: none;
    }
  }
}

.btn-primary {
  background-color: white;
  color: black;
  font-size: 1rem;
  border-radius: 10px;
  padding: 0.2rem 10px;

  &:hover {
    border-color: white;
  }
}

