.page__title {
  font-size: 60px;
  line-height: 73px;
  color: #FFFFFF;
  font-style: normal;
  font-weight: 400;
  margin: 15px 0;
}

p {
  font-family: 'Montserrat', serif;
  font-style: normal;
  font-weight: 400;
  color: #FFFFFF;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}
